/* Form container */
/* div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
} */

/* Form */
form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f5f5f5;
}

/* Form labels */
label {
    font-weight: bold;
}

/* Form inputs */
input[type="text"],
input[type="file"] {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 3px;
}

/* Submit button */
button{
    padding: 0.5rem 1rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover{
    background-color: #0056b3;
}